.container {
  display: flex;
  padding: 20px 0;
  width: 50%;
  margin: 0 auto;
}

.list {
  display: flex;
  width: 110px;
  justify-content: space-between;
  margin: auto;
}

.item {
  width: 35px;
  height: 35px;
  font-size: 20px;
  line-height: 33px;
  text-align: center;
  color: #008080;
}
